.cartas{

    display: flex;
    justify-content: center;
}
.carta{
    width: 8rem;
    background-color: #f7f7ff;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: transform .8s ease-out;
    border-radius: 15px;
    
    & > *{
        pointer-events: none
    }

    &:not(:first-child){
        margin-left: 1rem;

    }

    &__imagen{
        width: 70%;
        height: 70%;
    }

}

.cartasIA{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .cartaIA{
        width: 8rem;
        background-image: url(../../../public/assets/carta-al-reves.jpg);
        background-size: cover;
        background-position: center;
        height: 13rem;
        transition: all .8s ease-out;
        border-radius: 15px;

        &:not(:first-child){
            margin-left: 1rem;
        }
    }
}

.al-reves{
    & > *{
        visibility: hidden;
    }
}

.hidden{
    transform: translateY(-12rem) scale(.65);
}

.hiddenIA{
    transform: translateY(12rem) scale(.65);
    background-image: none !important;

    & > *{
        visibility: visible !important;
    } 
}

