.cartas{

    display: flex;
    justify-content: center;
    .carta{
        width: 8rem;
        background-color: #f7f7ff;
        height: 14rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;

        &:not(:first-child){
            margin-left: 1rem;

        }

        &__imagen{
            width: 70%;
            height: 70%;
        }
    
    }
}

.hidden{
    display: none !important;
}